*{
    font-family: Poppins;
}
nav{
    position:sticky ;
}
.navbar-brand{
    color: rgb(218, 40, 40);
}
span{
    color: white;
}
.first{
    background-image: url('https://img.freepik.com/free-vector/3d-earth-graphic-symbolizing-global-trade-illustration_456031-125.jpg?size=626&ext=jpg&ga=GA1.2.1050329116.1663656120');
    height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 5px;
}
.first div{
    width: 35%;
    margin-left: 60%;
    margin-top: 40px; 
    line-height: 45px;
}
.second{
    background-color: rgb(9, 3, 61);
    display: flex;
    height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 5px;
  gap: 5px;
  justify-content:space-between;
  padding:30px;
  
  padding-top:50px;
}
.reviews{
    margin: auto;
}
.second div{
    width: 30%;
    background-color: white;
    color: black;
   cursor: pointer;
    height: 70%;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 10px 10px 10px 5px  grey ;
    position: relative;
    display: block;
}

.second div h2{
    margin: auto;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 8px;
}
.second div button{
    
    width: 100%;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 background-color:  rgb(9, 3, 61);
 color: white;
 padding: 5px 15px;
 border: 1px solid  rgb(9, 3, 61);
 cursor: pointer;
 position: absolute;
 bottom: 0;
 right: 0;
 
}
.second div button:hover{
    box-shadow: 10px 10px 10px grey ;
    opacity: 0.8;
}
svg{
    margin-left: 50%;
    height: 40px;
    
}
.third{
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    color: black;
    padding-top: 5px;
    align-items: center;
    padding:30px;
    background-color: white;
    padding-top:50px;
    margin-bottom: 10px;
}
.third h2{
    margin-top: 20px;
    margin: auto;
    text-align: center;
    display: block;
}
:root {
    --animate-duration: 1.5s;
    --animation-iteration-count: 1;
}
.color{
    color: rgb(9, 3, 61) ;
}
  .animation h1{
    margin: auto;
    text-align: center;
  }
  .reviews{
    display: flex;
    width: 100%;
    gap: 15px;
    margin-top: 50px;
    margin: auto;
    margin-top: 30px;
    margin-left: 70px;
    
  }
  .rev-boxes{
    color: white;
    background-color:rgb(9, 3, 61) ;
    width: 28%;
    border-radius: 15px;
    flex-wrap: wrap;
    height: 40vh;
    padding: 20px;
  }
  .profile{
border-radius: 60px;
height: 90px;
margin-bottom: 20px;
}
.jude{
    height: 90px;
    border-radius: 60px;
    width: 80px;
    margin-bottom: 20px;
}
.fourth{
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    color: black;
    padding-top: 5px;
    align-items: center;
    padding:30px;
    background-color: white;
    padding-top:50px;
    margin-top: 50px;

}
.classes{
    margin: auto;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
.f-list{
    list-style: disc;
line-height: 52px;
font-size: 20px;
cursor: pointer;
color:black;
}
.f-list:hover{
    color: rgb(14, 2, 117);
    background-color: bisque;
}
footer{
    background-color: white;
    width: 100%;
    height: 60vh;
    padding: 60px;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 40%;
    display: inline-block;
    height: 80%;
}
.left-btn{
    padding: 10px 20px;
    color: white;
    background-color:rgb(9, 3, 61);
    font-size: 25px;
    cursor: pointer;
}
.right{
    display: inline-block;
    width: 40%;
    height: 80%;
}
.right div{
    display: inline-block;
    
}
.span{
    color: blue;
}
.ft-text{
    color: black;
    margin-right: 20px;
}
.socials{
    width: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
}
@media only screen and (max-width: 700px){
    .first{
        background-image: url('https://img.freepik.com/free-vector/3d-earth-graphic-symbolizing-global-trade-illustration_456031-125.jpg?size=626&ext=jpg&ga=GA1.2.1050329116.1663656120');
        height: 60vh;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      padding-top: 5px;
    }
    .first div{
        width: 85%;
        margin: auto;
        margin-top: 40px; 
        line-height: 30px;
    }
    .second{
        background-color: rgb(9, 3, 61);
        display: flex;
        height: 200vh;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      padding-top: 5px;
      gap: 5px;
      flex-direction: column;
      justify-content:space-between;
      padding:30px;
      
      padding-top:50px;
    }
    .reviews{
        margin: auto;
    }
    .second div{
        width: 100%;
        background-color: white;
        color: black;
       cursor: pointer;
        height: 70%;
        border-radius: 10px;
        margin-top: 50px;
        box-shadow: 10px 10px 10px 5px  grey ;
        position: relative;
        display: block;
    }
    .reviews{
        display: flex;
        flex-direction: column;
        width: 100%;
       justify-content: center;
        gap: 15px;
        margin-top: 50px;
        margin: auto;
        margin-top: 30px;
        
        
      }
      .third{
        height: 270vh;
        padding: 0;
        padding-top:30px ;
        overflow: none;
      }
      .rev-boxes{
        color: white;
        background-color:rgb(9, 3, 61) ;
        width: 100%;
        border-radius: 15px;
        flex-wrap: wrap;
        height: 40vh;
        padding: 20px;
      }
      .fourth{
        height: 40vh;
        width: 100%;
        justify-content: space-between;
        color: black;
        padding-top: 5px;
        align-items: center;
        padding:30px;
        background-color: white;
        padding-top:15px;
        margin-top: 10px;
    
    }
    .f-list{
        list-style: disc;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    color:black;
    }
    .left{
        width: 70%;
        display: block;
        height: 80%;
    }
    footer{
        background-color: white;
        width: 100%;
        height: 60vh;
        padding: 20px;
        
        flex-direction: column;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 600px){
    .first{
        background-image: url('https://img.freepik.com/free-vector/3d-earth-graphic-symbolizing-global-trade-illustration_456031-125.jpg?size=626&ext=jpg&ga=GA1.2.1050329116.1663656120');
        height: 90vh;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      padding-top: 5px;
    }
    .first div{
        width: 85%;
        margin: auto;
        margin-top: 40px; 
        line-height: 30px;
    }
    .second{
        background-color: rgb(9, 3, 61);
        display: flex;
        height: 200vh;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      padding-top: 5px;
      gap: 5px;
      flex-direction: column;
      justify-content:space-between;
      padding:30px;
      
      padding-top:50px;
    }
    .reviews{
        margin: auto;
    }
    .second div{
        width: 100%;
        background-color: white;
        color: black;
       cursor: pointer;
        height: 70%;
        border-radius: 10px;
        margin-top: 50px;
        box-shadow: 10px 10px 10px 5px  grey ;
        position: relative;
        display: block;
    }
    .reviews{
        display: flex;
        flex-direction: column;
        width: 100%;
       justify-content: center;
        gap: 15px;
        margin-top: 50px;
        margin: auto;
       margin-bottom: 15px;
        margin-left: 10%;
        
      }
      .animation{
        margin-bottom: 30px;
      }
      .third{
        height: 270vh;
        padding: 0;
        padding-top:30px ;
        overflow: none;
      }
      .rev-boxes{
        color: white;
        background-color:rgb(9, 3, 61) ;
        width: 80%;
        border-radius: 15px;
        flex-wrap: wrap;
        height: 40vh;
        padding: 20px;
      }
      .fourth{
        height: 90vh;
        width: 100%;
        justify-content: space-between;
        color: black;
        padding-top: 5px;
        align-items: center;
        padding:30px;
        background-color: white;
        padding-top:25px;
        margin-top: 40px;
    
    }
    .f-list{
        list-style: disc;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    color:black;
    }
    .left{
        width: 100%;
        display: block;
        height: 80%;
    }
    .right{
        display: block;
        width: 100%;
    }
    footer{
        background-color: white;
        width: 100%;
        height: 130vh;
        padding: 40px;
        
        flex-direction: column;
        justify-content: space-between;
    }
    .ft-text{
        color: black;
        margin-right: 4px;
        
    }
    .rtl{
        display: inline-block;
        width: 20%;
    }
    .rtr{
        width: 80%;
        display: inline-block;
    }
}